*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
.para{
    font-size: 20px;
    font-family: fantasy;
    color: rgb(26, 13, 212);
}
.button{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}